* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.game-container {
    background-color: #bdbdbd;
    padding: 50px;
    border: 3px solid;
    border-color: #fff #7b7b7b #7b7b7b #fff;
    display: inline-block;
}

/* Хедер гри  */
.game-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #c0c0c0;
    padding: 40px;
    margin-bottom: 40px;
    border: 3px solid;
    border-color: #7b7b7b #fff #fff #7b7b7b;
}

.flag-counter, .timer {
    background-color: black;
    color: rgb(163, 23, 23);
    font-family: monospace;
    font-size: 36px;
    padding: 2px 5px;
    border: 1px solid #7b7b7b;
}

.start-btn {
    font-size: 24px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border: 3px solid;
    border-color: #fff #7b7b7b #7b7b7b #fff;
    background-color: #bdbdbd;
}

.start-btn:active {
    border-color: #7b7b7b #fff #fff #7b7b7b;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(5, 30px); 
    grid-template-rows: repeat(5, 30px);
    border: 3px solid;
    border-color: #7b7b7b #fff #fff #7b7b7b;
}


.cell {
    width: 30px;
    height: 30px;
    background-color: #bdbdbd;
    border: 3px solid;
    border-color: #fff #7b7b7b #7b7b7b #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    user-select: none;
}

.cell:hover:not(.open) {
    background-color: #dcdcdc;
}

.cell.open {
    background-color: #554c4c;
    border: 1px solid #000000;
    cursor: default;
}

.cell.flag {
    color: rgb(196, 26, 26); 
}

.cell.mine {
    background-color: #464343;
    border: 1px solid #332a2a;
}

.cell.mine.exploded {
    background-color: rgb(185, 24, 24);
    border: 1px solid #7b7b7b;
}
