body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #f0f4f8;
}

.minesweeper {
    width: 550px;
    height: 760px;
    background-color: rgba(238, 237, 236);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 3px solid rgba(136, 169, 207);
}

.navbar {
    width: 100%;
    height: 40px;
    background: linear-gradient(rgba(184, 205, 232), rgba(127, 163, 206), rgba(145, 177, 215));
    border-radius: 8px 8px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.white-text {
    color: white;
}

.all-svg {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.svg {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.secondbar {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.under-text {
    color: black;
    text-decoration: underline;
    margin-left: 20px;
    margin-top: 25px;
    cursor: pointer;
    font-size: 14px;
}

.hr {
    color: rgba(190, 194, 198);
    width: 95%;
}

.cool-emoji {
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cool-emoji-background {
    background-color: rgba(237, 236, 235);
    width: 55px;
    height: 55px;
    border-radius: 12px;
    border: 2px solid rgba(190, 194, 198);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}

.cool-emoji-background:hover {
    background-color: rgba(220, 220, 220);
}

.cool-emoji-svg {
    width: 45px;
    height: 45px;
}

.blocks-in-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.blocks-in-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.blue-box {
    margin: 1px;
    width: 62px;
    height: 62px;
    border-radius: 8px;
    border: 2px solid rgb(148, 148, 148);
    background: linear-gradient(rgba(154, 187, 229), rgba(132, 170, 216), rgba(124, 163, 210));
    transition-duration: 0.3s;
    cursor: pointer;
}

.blue-box:hover {
    background: linear-gradient(rgb(234, 243, 255), rgb(214, 232, 255), rgb(177, 212, 255));
}

.white-box {
    margin: 1px;
    width: 62px;
    height: 62px;
    border-radius: 8px;
    border: 2px solid rgb(148, 148, 148);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-number-1, .box-number-2, .box-number-3,
.box-number-4, .box-number-5, .box-number-6,
.box-number-7, .box-number-8 {
    margin: 1px;
    width: 62px;
    height: 62px;
    border-radius: 8px;
    border: 2px solid rgb(148, 148, 148);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Boldonse", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}

.box-number-1 { color: rgba(0, 0, 255); }
.box-number-2 { color: rgba(0, 160, 0); }
.box-number-3 { color: rgba(255, 0, 0); }
.box-number-4 { color: rgba(0, 0, 128); }
.box-number-5 { color: rgba(128, 0, 0); }
.box-number-6 { color: rgba(0, 128, 128); }
.box-number-7 { color: rgba(0, 0, 0); }
.box-number-8 { color: rgba(128, 128, 128); }

.box-flag {
    margin: 1px;
    width: 62px;
    height: 62px;
    border-radius: 8px;
    border: 2px solid rgb(148, 148, 148);
    background: linear-gradient(rgba(154, 187, 229), rgba(132, 170, 216), rgba(124, 163, 210));
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 28px;
}

.box-flag:hover {
    background: linear-gradient(rgb(234, 243, 255), rgb(214, 232, 255), rgb(177, 212, 255));
}

.sum-information {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: sans-serif;
}

.mine-cell {
    background-color: #ff4d4d !important;
    font-size: 28px;
}

.win-cell {
    background-color: #90ee90 !important;
}
